.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  width: 425px;
  height: auto;
  background: #fff;
  padding: 35px 50px;
  border-radius: 2px;
}

.form .title{
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}

.form .input_wrap{
  margin-bottom: 20px;
  width: 325px;
  position: relative;
}

.form .input_wrap:last-child{
  margin-bottom: 0;
}

.form .input_wrap label{
  display: block;
  margin-bottom: 5px;
}

.form .input_wrap input{
  padding: 15px;
  width: 100%;
  border: 1px solid transparent;
  font-size: 16px;
  border-radius: 3px;
}

.form .input_wrap .input{
  background: #f5f4f4;
  padding-right: 35px;
}


.form .input_wrap .input:focus{
  border-color: #1dbf73;
}

.form .input_wrap .input_field{
  position: relative;
}

.form .input_wrap .btn{
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}

.form .input_wrap .btn.enabled{
  background: #1dbf73;
  cursor: pointer;
}

.form .input_wrap .error_msg{
  font-size: 15px;
  margin-bottom: 5px; 
  color: #f74040;
  display: none;
}

.forgot_link {
    text-decoration: none;
    color: #7e9289
}