{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block extendCSS %}
<link rel="stylesheet" href="{% static 'css/account/base.css' %}" />
{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="form">
    <div class="title">
      Sign Up
    </div>
    
    <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% for field in form %}
          <div class="input_wrap">
            {{ field.label }}
            <div class="input_field">
              {{ field }}
            </div>
          </div>
        {% endfor %}

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

      <div class="input_wrap">
        <input type="submit" class="btn enabled" value="{% trans "Sign Up" %}">
      </div>
    </form>
  </div>
</div>

{% endblock %}
