{% load static %}

<link rel="stylesheet" href="{% static 'css/base/footer.css' %}" />

<footer class="footer mt-auto pt-3 py-3 bg-dark">
  <div class="container">
    <span class="text-muted">By <a style="color: inherit; text-decoration: none;" href="https://github.com/rishabhvarshney14" target="_blank" rel="noopener noreferrer">Rishabh Varshney</a> | </span>
    <span class="text-muted">Source Code available on <a style="color: inherit; text-decoration: none;" href="/" target="_blank" rel="noopener noreferrer">Github</a> </span>
  </div>
</footer>